<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
  </head>
  <body>
    <section class="container-fluid text-center text-md-start" id="footer">
      <div class="row py-5">
        <div class="col-md-4 ps-md-5">
          <img src="/images/logo.jpeg" alt="" class="img-fluid ps-md-5" />
          <p class="pt-3 ps-md-5 pe-md-4 text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, odit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, odit.
            amet consectetur.
          </p>
        </div>
        <div class="col-md-2 link d-none d-md-block">
          <h4>Pages</h4>
          <a href="/components/Home.html">Home</a>
          <a href="/components/facility.html">Facility</a>
          <a href="/components/animals.html">Animal Care</a>
          <a href="/components/about.html">About Us</a>
        </div>
        <div class="col-md-2 link d-none d-md-block">
          <h4>Links</h4>
          <a href="">Home</a>
          <a href="">Facility</a>
          <a href="">Animal Care</a>
          <a href="">About Us</a>
          <a href="">Contact Us</a>
        </div>
        <div class="col-md-4 f_contact">
          <h4>Contact</h4>
          <a href="">
            <i class="fa-solid fa-paper-plane"></i> hamiltonconford@gmail.com
          </a>
          <a href=""> <i class="fa-solid fa-phone"></i> +254729006032 </a>
          <a href=""> <i class="fa-solid fa-house"></i> Address </a>
          <a href="">
            ABC Centre, <br />
            Lenana Road - 54 <br />
            Westlands 00100 Nairobi
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
